*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #E0E4E5;
}

.wrap{
    max-width: 1100px;
    width: 90%;
    margin: auto;
}

.wrap > h1{
    color: #494B4D;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}

.wrap > h1::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #C7C7C7;
    margin: 20px 0px;
}

.store-wrapper{
    display: flex;
}

.category-list{
    display: flex;
    flex-direction: column;
    width: 18%;
}

.category-list .category-item{
    display: block;
    width: 90%;
    padding: 15px 0px;
    margin-bottom: 20px;
    background: #E84C3D;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.item-active{
    background: #2D3E50;
}

.products-list{
    width: 82%;
    display: flex;
    flex-wrap: wrap;
}

.products-list .product-item{
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
}

.products-list .product-item img{
    width: 100%;
}

.products-list .product-item a{
    display: block;
    width: 100%;
    padding: 8px 0px;
    background: #2D3E50;
    color: #fff;
    text-align: center;
    text-decoration: none;
}